page {
		background: #e4e4e4;

	}

	.box {

		// 头部顶部
		.header {
			position: relative;

			.header_banner {
				display: flex;
				padding: 0 25px;
				box-sizing: border-box;
				height: 45px;
				background: #E5EFFE;

				.userinfo {
					display: flex;
					font-size: 12px;
					align-items: center;

					.userinfo_item {
						margin-right: 10px;
					}
				}
			}

			// 头部控制条
			.header_control {
				display: flex;
				font-size: 12px;
				height: 55px;
				padding: 0 25px;
				background: rgb(218, 231, 240);
				background: linear-gradient(31deg, rgba(218, 231, 240, 1) 63%, rgba(147, 165, 192, 1) 100%);
				align-items: center;
				justify-content: space-between;

				.mode_control {
					display: flex;
					align-items: center;

					.mode_item {
						margin-right: 10px;
						display: flex;
						align-items: center;

					}

					// 开始停止按钮
					.button_control {
						border: 2px solid #0C74B7;
						color: #0C74B7;
						height: 30px;
						width: 80px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 15px;
						margin-left: 15px;
					}
				}

				// setting
				.setting {
					color: #fff;
					display: flex;
					width: 205px;

					.setting_item {
						margin-right: 5px;
					}
				}
			}

			// logo
			.logo_wrapper {
				height: 100px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;

				.text {
					.en {
						font-size: 30px;
						color: #27008F;
						font-weight: 700;
					}

					.zn {
						font-size: 17px;
						color: #27008F;
						font-weight: 500;
					}
				}

				.logoImage {
					width: 90px;
					height: 90px;
					overflow: hidden;
					border-radius: 50%;
					margin-left: 10px;
					background: linear-gradient(145deg, #f5ffff, #ced7e5);
					box-shadow: 11px 11px 22px #9ca3ad,
						-11px -11px 22px #ffffff;

					image {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		// 数据部分
		.main {
			font-size: 12px;
			box-sizing: border-box;
			padding: 6px;
			width: 100%;
			// height: 1000px;

			.content {
				display: flex;
				justify-content: space-between;

				.left_msg {
					width: 34vw;
					height: 230px;
					// background-color: red;
					display: flex;
					justify-content: space-between;

					.judge {
						border-radius: 5px;
						width: 23%;
						height: 230px;
						background: #fff;
						display: flex;
						flex-direction: column;
						justify-content: space-around;

						.judge_item {
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}

					.judge_list {
						width: 76.5%;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						align-content: space-between;

						.list_item {
							width: 32%;
							height: 49%;
							// border: 1px solid #000;
							border-radius: 5px;
							background: #fff;
							display: flex;
							justify-content: space-around;
							flex-direction: column;
							padding: 0 5px;
							box-sizing: border-box;

							.num {
								font-size: 30px;
							}
						}
					}
				}

				.detail_msg {
					width: 64vw;
					height: 230px;
					// background-color: red;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.detail_item {
						display: flex;
						justify-content: space-between;

						.detail_title {
							// flex: 1;
							width: 16%;
							// height: 115px;
							background: #fff;
							border-radius: 5px;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 14px;

							&.press {
								height: 115px;
							}
						}

						.detail_item_list {
							// flex: 6;
							width: 83.5%;
							display: flex;
							flex-wrap: wrap;
							justify-content: space-around;
							align-content: space-between;

							&.aed {
								.list_item {
									width: 32.5%;

									.item_title {
										display: flex;
										justify-content: center;
										align-items: center;
									}
								}
							}

							.list_item {
								width: 19%;
								// flex: 0.9;
								height: 55px;
								background: #fff;
								display: flex;
								border-radius: 5px;

								.item_title {
									flex: 1;
									font-size: 12px;
									padding: 5px 10px;

								}

								.item_num {
									flex: 2;
									display: flex;
									padding-right: 10px;
									justify-content: flex-end;
									align-items: flex-end;
									font-size: 28px;
									font-weight: 600;
								}


							}

						}
					}

				}

			}

			// 数据可视化部分
			.visualization {
				margin-top: 15px;
				width: 100%;
				height: 400px;
				background: #fff;
				border-radius: 5px;
				padding: 0 20px;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				.qiun-charts {
					canvas{
						width: 100%;
						height: 120px;
					}
					// width: 100%;
				}
			}
		}

	}