page {
		background: #e4e4e4;

	}
.space{
	height: var(--status-bar-height);
	width: 100%;
	background: #E5EFFE;
}
	.box {

		// 头部顶部
		.header {
			position: relative;

			.header_banner {
				display: flex;
				padding: 0 18.38rpx;
				box-sizing: border-box;
				height: 33.08rpx;
				background: #E5EFFE;

				.userinfo {
					display: flex;
					font-size: 12px;
					align-items: center;

					.userinfo_item {
						margin-right: 10px;
					}
				}
			}

			// 头部控制条
			.header_control {
				display: flex;
				font-size: 8.82rpx;
				height: 40.44rpx;
				padding: 0 18.38rpx;
				background: rgb(218, 231, 240);
				background: linear-gradient(31deg, rgba(218, 231, 240, 1) 63%, rgba(147, 165, 192, 1) 100%);
				align-items: center;
				justify-content: space-between;

				.mode_control {
					display: flex;
					align-items: center; 

					.mode_item {
						margin-right: 7.35rpx;
						display: flex;
						align-items: center;

					}

					// 开始停止按钮
					.button_control {
						border: 1.47rpx solid #0C74B7;
						color: #0C74B7;
						height: 22.05rpx;
						width: 58.82rpx;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 11.02rpx;
						margin-left: 11.02rpx;
					}
				}

				// setting
				.setting {
					color: #fff;
					display: flex;
					width: 180.73rpx;

					.setting_item {
						margin-right: 3.67rpx;
					}
				}
			}

			// logo
			.logo_wrapper {
				height: 73.52rpx;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;

				.text {
					.en {
						font-size: 22.05rpx;
						color: #27008F;
						font-weight: 700;
					}

					.zn {
						font-size: 12.49rpx;
						color: #27008F;
						font-weight: 500;
					}
				}

				.logoImage {
					width: 66.17rpx;
					height: 66.17rpx;
					overflow: hidden;
					border-radius: 50%;
					margin-left: 7.35rpx;
					background: linear-gradient(145deg, #f5ffff, #ced7e5);
					box-shadow: 8.08rpx 8.08rpx 16.17rpx #9ca3ad,
						-8.08rpx -8.08rpx 16.17rpx #ffffff;

					image {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		// 数据部分
		.main {
			font-size: 8.82rpx;
			box-sizing: border-box;
			padding: 4.41rpx;
			width: 100%;
			// height: 1000px;

			.content {
				display: flex;
				justify-content: space-between;

				.left_msg {
					width: 34vw;
					height: 169.11rpx;
					// background-color: red;
					display: flex;
					justify-content: space-between;

					.judge {
						border-radius: 3.67rpx;
						width: 23%;
						height: 169.11rpx;
						background: #fff;
						display: flex;
						flex-direction: column;
						justify-content: space-around;

						.judge_item {
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}

					.judge_list {
						width: 76.5%;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						align-content: space-between;

						.list_item {
							width: 32%;
							height: 49%;
							// border: 1px solid #000;
							border-radius: 3.67rpx;
							background: #fff;
							display: flex;
							justify-content: space-around;
							flex-direction: column;
							padding: 0 3.67rpx;
							box-sizing: border-box;

							.num {
								font-size: 22.05rpx;
							}
						}
					}
				}

				.detail_msg {
					width: 64vw;
					height: 169.11rpx;
					// background-color: red;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.detail_item {
						display: flex;
						justify-content: space-between;

						.detail_title {
							// flex: 1;
							width: 16%;
							// height: 115px;
							background: #fff;
							border-radius: 3.67rpx;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 10.29rpx;

							&.press {
								height: 84.55rpx;
							}
						}

						.detail_item_list {
							// flex: 6;
							width: 83.5%;
							display: flex;
							flex-wrap: wrap;
							justify-content: space-around;
							align-content: space-between;

							&.aed {
								.list_item {
									width: 32.5%;

									.item_title {
										display: flex;
										justify-content: center;
										align-items: center;
									}
								}
							}

							.list_item {
								width: 19%;
								// flex: 0.9;
								height: 40.44rpx;
								background: #fff;
								display: flex;
								border-radius: 3.67rpx;

								.item_title {
									flex: 1;
									font-size: 8.82rpx;
									padding: 3.67rpx 7.35rpx;

								}

								.item_num {
									flex: 2;
									display: flex;
									padding-right: 7.35rpx;
									justify-content: flex-end;
									align-items: flex-end;
									font-size: 20.58rpx;
									font-weight: 600;
								}


							}

						}
					}

				}

			}

			// 数据可视化部分
			.visualization {
				position: relative;
				margin-top: 11.02rpx;
				width: 100%;
				height: 294.11rpx; 
				background: #fff;
				border-radius: 3.67rpx;
				padding: 0 14.7rpx;
				padding-top: 11.02rpx;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				// align-items: center;
				justify-content: space-around;
				overflow: hidden;
				// box-sizing: border-box;
				
				
				
			}
		}

	}
	
	.popup-content{
		padding:22rpx ;
		display: flex;
		flex-direction: column;
		.popup-title{
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12.49rpx;
		}
		.popup-input{
			flex: 4;
			display: flex;
			flex-direction: column;
			// justify-content: space-around;
			margin-top: 11.02rpx;
			input{
				margin-top: 15rpx;
				background: #ccc;
				border: 1px solid #ccc;
				font-size: 11.02rpx;
				height: 14.7rpx;
				padding: 3.67rpx 7.35rpx;
				border-radius: 3.67rpx;
			}
			.pupup-btn{
				width: 50%;
				height: 25.7rpx;
				font-size: 11.02rpx;
				padding: 5px 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		
	}