page{
	background: #f1f1f1;
	// font-size:11.02rpx;
}
.main{
	width:294.11rpx ;
	background: #fff;
	border-radius:2.94rpx ;
	display: flex;
	flex-direction: column;
	margin: 44.11rpx auto ;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	padding: 0 51.47rpx;
	box-sizing: border-box;
	.header{
		display: flex;
		justify-content: center;
		// align-items: center;
		padding-top: 14.7rpx ;
		box-sizing: border-box;
		.login,.registry{
			// width: 36.76rpx;
			margin-right: 14.7rpx;
			// background: red;
			// border: #ec7259;
			// border-bottom: 1.47rpx solid  #5B6A81;
			color: #ccc;
			font-weight: 500;
			font-size:11.02rpx;
			padding:5px;
			box-sizing: border-box;
		}
		.registry{
			color: #5B6A81;
			border-bottom: 1.47rpx solid  #5B6A81;
		}
	}
	.login_input{
		margin-top: 22.05rpx;
		display: flex;
		flex-direction: column;
		
		.item{
			padding: 3.67rpx 7.35rpx;
			background: #eee;
			border: 1.47rpx solid #c7c7c7;
			border-bottom: 0;
			input{
				font-size:11.02rpx;
			}
			&:last-child{
				border-bottom: 1.47rpx solid #c7c7c7;
			}
		}
		.currentPassword{
			position: relative;
			.icon_password{
				position: absolute;
				right: 7.35rpx;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.select{
			margin-top: 7.35rpx;
			background: #eee;
			border: 1.47rpx solid #c7c7c7;
			padding: 3.67rpx 7.35rpx;
			display: flex;
			justify-content: space-between;
			.picker{
				flex:9;
				font-size:11.02rpx;
			}
			.icons{
				flex:1;
			}
		}
		.btn{
			margin-top: 14.7rpx;
			margin-bottom: 29.41rpx;
			background: #5B6A81;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			border-radius: 3.67rpx;
			padding: 3.67rpx 0;
			font-size:11.02rpx;
		}
	}
}
.borderBottom{
	border-bottom: 1.47rpx solid #c7c7c7;
}