page{
	background: #5B6A81 !important;
	font-size: 8.82rpx;
}
.header{
	height: 36.76rpx;
	width: 100%;
	background: #3E4F66 ;
	padding: 0 20.58rpx;
	display: flex;
	align-items: center;
	.iconWrapper{
		width: 17.64rpx;
		height: 17.64rpx;
		// box-sizing: border-box;
		margin-right: 3.67rpx;
		overflow: hidden;
		image{
			width: 100%;
			height: 100%;
		}
	}
		
	text{
		font-size: 10.29rpx;
		color: #fff;
	}
	
}
.main{
	width: 85%;
	margin-top: 14.7rpx;
	// min-width: 824px;
	// height: 300px;
	margin: 0 auto;
	.manifest_item{
		color: #fff;
		.title{
			font-size:10.29rpx;
			height: 29.41rpx;
			border-bottom: 0.73rpx solid #fff;
			// padding-bottom: 10px;
			display: flex;
			align-items: center;
		}
		.manifest_list{
			padding-left: 82.35rpx;
			padding-top: 7.35rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-top: 14.7rpx;
			.input_wrapper{
				display: flex;
				flex-direction: column;
				.radioGroup{
					display: flex;
					flex-direction: column;
					radio{
						transform:scale(0.7)
					}
				}
				// 按压
				.press_wrapper{
					display: flex;
					flex-direction: column;
					height: 65.47rpx;
					flex-wrap: wrap;
				}
			}
		}
	}
}
.item{
	font-size: 8.82rpx;
	margin-top: 3.67rpx;
}
.Two{
	display: flex;
}
.footer{
	display: flex;
	padding:14.7rpx  22.05rpx;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	.left,.right{
		display: flex;
		width: 147.05rpx;
		justify-content: space-around;
	}
	.item1,.item2{
		display: flex;
		justify-content: center;
		align-items: center;
		background:#3E4F66 ;
		color: #fff;
		font-size: 9.55rpx;
		width: 58.82rpx;
		height: 22.05rpx;
		border-radius: 3.67rpx;
	}
	.item2{
		background: #fff;
		color: #3E4F66;
	}
} 